<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>BET365</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>lightsky</string>
		<string>shark.video</string>
		<string>bobo</string>
		<string>snssdk32</string>
		<string>pptv</string>
		<string>bilibili</string>
		<string>kugouURL</string>
		<string>gaeagj</string>
		<string>qqnews</string>
		<string>zhihu</string>
		<string>doubanradio</string>
		<string>openApp.jdMobile</string>
		<string>imeituan</string>
		<string>tmall</string>
		<string>dianping</string>
		<string>vipshop</string>
		<string>yanxuan</string>
		<string>wccbyihaodian</string>
		<string>taobao</string>
		<string>suning</string>
		<string>kaola</string>
		<string>ctrip</string>
		<string>kuaikanmanhua</string>
		<string>gugutouchmanga</string>
		<string>qrxs</string>
		<string>mailmaster</string>
		<string>jcnhers</string>
		<string>wbmain</string>
		<string>yixin</string>
		<string>ydcourse</string>
		<string>ntesopen</string>
		<string>yddict</string>
		<string>shanbay</string>
		<string>tencentweiboSdkv2</string>
		<string>weibosdk2.5</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>alipay</string>
		<string>safepay</string>
		<string>cydia</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>weibosdk</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqzone</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqwpa</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>hbuilder</string>
		<string>streamapp</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>NSCameraUsageDescription - 2</key>
	<string>是否允许此App使用您的相机？</string>
	<key>NSPhotoLibraryAddUsageDescription - 2</key>
	<string>是否允许此App使用相册？</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>是否允许此App使用您的蓝牙？</string>
	<key>NSCalendarsUsageDescription</key>
	<string>是否允许此App使用日历？</string>
	<key>NSCameraUsageDescription</key>
	<string>是否允许此App使用您的相机？</string>
	<key>NSContactsUsageDescription</key>
	<string>是否允许此App访问您的通讯录？</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>是否允许此App使用定位服务？</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>是否允许此App使用相册？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否允许此App访问您的媒体资料库？</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>是否允许此App使用语音识别？</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
